* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to left,
    rgba(221, 145, 126, 0.952),
    rgba(243, 254, 252, 1)
  );
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  font-size: 3rem;
  margin: 0 auto;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 3rem;
}
.start-btn {
  font-size: 2rem;
  align-self: center;
  background-color: rgba(221, 145, 126, 0.952);
  color: white;
  padding: 2rem;
}
.start-btn:hover {
  color: rgba(221, 145, 126, 0.952);
  background-color: white;
  cursor: pointer;
}
.message,
.try {
  border-style: 1px solid red;
  min-width: 20%;
  font-size: 2rem;
  align-self: center;
  padding: 1rem;
}
.img-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.loc0,
.loc1,
.loc2,
.loc3,
.loc4,
.loc5 {
  opacity: 0;
}
/* //////////////////////////////////////////////////////// */
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}
